<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Database" value="server=.;database=6tp45cdo1982;uid=sa;password=126152" />
	</appSettings>
	<system.web>
		<compilation debug="true" defaultLanguage="C#" explicit="true" strict="true" />
		<customErrors mode="Off" />
		<pages validateRequest="false" />
		<httpRuntime maxRequestLength="102400" />
	</system.web>
</configuration>