/****** Base Elements ******/

html {
	background-color: #30383e;
	font-family: "trebuchet MS",sans-serif;
	font-size: 1em;
	height: 100%;
	letter-spacing: 0.2pt;
	line-height: 1.6
	text-align: justify;
	word-spacing: -1pt
}

body {
	height: 100%
}

a {
	color: #618aab
}

a:hover {
	color: #006699
}

a img {
	border: none
}

/****** Title or Header ******/

#title {
	background-color: #22282d;
	padding: 0.5em;
	text-align: right
}

#title img {
	float: left
}

#title h1 {
	display: none
}

#title ul {
	display: inline;
	list-style: none
}

#title ul li {
	display: inline;
	padding-left: 1em
}

/****** Main Menu ******/

#mainmenu {
	font-size: 0.8em;
	font-weight: bold;
	margin-top: 1em
}

#mainmenu ul {
	border-bottom: #9ca9b2 solid 0.5em;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%
}

#mainmenu ul li {
	float: left;
}

#mainmenu ul li a {
	background-color: #353d42;
	color: #79858d;
	display: block;
	margin-right: 0.5em;
	padding: 0.4em 0.8em 0.4em 0.8em;
	text-decoration: none
}

#mainmenu ul li a:hover {
	background-color: #9ca9b2;
	color: #22282d
}

/****** Work Area ******/

#workarea {
	clear: left;
	height: 100%
}

/****** Sub Menu ******/

#submenu {
	background-color: #e1e7eb;
	float: left;
	padding-top: 1em;
	text-align: right;
	width: 20%
}

#submenu h2 {
	color: #9ca9b2;
	font-size: 150%;
	margin: 0;
	padding-right: 1em
	
}

#submenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%
}

#submenu ul li a {
	color: #618aab;
	display: block;
	margin: 0;
	padding: 0.8em 1em 0.8em 0.8em;
	text-decoration: none
}

#submenu ul li a:hover {
	background-color: #fff
}

/****** Content ******/

#content {
	background-color: #fff;
	color: #22282d;
	margin-left: 20%;
	padding-left: 1em;
	padding-top: 1em;
}

#content a:hover {
	color: #006699;
}

#content h3 {
	font-size: 150%;
	margin: 0;
	padding: 0
}

#content table {
	width: 100%
}

#content th {
	font-weight: bold;
	text-align: left
}

/****** Content Form ******/

#content form {
	margin: 0.5%;
	margin-top: 0%;
	width: auto;
}

#content form h4 {
	border: #cccccc solid 1px;
	font-weight: bold;
	font-size: 100%;
	margin-bottom: -1px;
	padding: 0.5% 0.5% 0.5% 0.5%;
}

#content form fieldset {
	border: none;
	padding: 1%;
	padding-top: 0%;
	margin-bottom: 0.5%;
	text-align: left;
	background-transparent;
}

#content form fieldset div {
	display: block;
	float: left;
	margin-bottom: 1%;
	width: 100%;
	/*opacity: 0.75;
	filter: alpha(opacity=75);*/
}

#content form fieldset div label {
	display: block;
	font-size: 80%;
	font-weight: bold;
}

#content form fieldset div.required label {
	color: #ff0000;
}

#content form fieldset div.required label:after {
	content: "*";
}

#content form fieldset div input,
#content form fieldset div select,
#content form fieldset div textarea {
	width: 90%;
}

#content form fieldset div textarea {
	height: 256px;
	font-family: Courier New;
	font-size: 75%;
}

#content form fieldset div textarea.short {
	height: 64px;
}

#content form fieldset div.checkbox label {
	display: block;
	font-weight: normal;
	margin-left: 2%;
}

#content form fieldset div.checkbox input {
	float: left;
	width: auto;
}

#content form fieldset div input.button {
	border: none;
	background: #ffeB86 url(/system/images/button-primary.gif);
	background-position: top left;
	width: 128px;
	height: 22px;
	font-size: 85%;
	font-weight: bold;
}

#content form fieldset div input.button.cssHover {
	background-position: top right;
	color: #000000;
}

#content form fieldset div input.button.secondary {
	background: #ffeB86 url(/system/images/button-secondary.gif) !important;
	color: #808080;
}

#content form fieldset div input.button.secondary.cssHover {
	background-position: top right !important;
	color: #000000;
}

#content form fieldset div.full {
	width: 100%;
}

#content form fieldset div.full textarea,
#content form fieldset div.full select {
	width: 95%;
}

#content form fieldset div.half {
	width: 50%;
}

#content form fieldset div.third {
	width: 33%;
}

#content form fieldset div.quarter {
	width: 25%;
}

#content form fieldset div.fifth {
	width: 20%;
}

/****** Services aka Footer ******/

#services {
	clear: both;
	display: block
}